.CarouselContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.CarouselSlide {
  position: relative;
  text-align: center;
  color: white;
}

.CarouselImage {
  width: 100%;
  height: auto;
}

.CarouselTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.CarouselTextContainer h2 {
  margin: 0 0 10px;
  font-size: 24px;
  font-family: cursive;
}

.CarouselButton {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.CarouselButton:hover {
  background-color: #0056b3;
}

.slick-dots li button:before {
  font-size: 12px;
  color: yellowgreen;
}

.slick-dots li.slick-active button:before {
  color: #007bff;
  background-color: white;
}

.slick-prev:before,
.slick-next:before {
  color: #374ed6;
}

.slick-prev,
.slick-next {
  z-index: 1000;
}
