.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #007bff;
  color: white;
  position: relative;
  z-index: 100;
}

.NavLogo img {
  height: 90px;
  width: 120px;
  border-radius: 10px;
}

.NavMenu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.NavList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.NavItem {
  margin-left: 20px;
}

/* Navbar Link */
.NavLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.NavLink:hover,
.ActiveLink {
  background-color: #fff;
  border-radius: 4px;
  color: #007bff;
}

/* Navbar Icon */
.NavIcon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}
