/* PackageComponent.css */

.package-container {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
  max-width: 1200px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1000px;
}

.package-container h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.package-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.package-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  border: 3px solid #007bff;
}

.package-text {
  max-width: 600px;
  text-align: left;
}

.package-text p {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}

.package-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
  color: #007bff;
}

.package-list li {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 8px;
}

.price-tag {
  font-size: 24px;
  color: #d75252;
  margin: 20px 0;
  border: 2px solid #ff4500;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 20px;
}

.apply-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 24px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.apply-button:hover {
  background-color: #f6f9fc;
  border: #007bff 2px solid;
  color: #007bff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .package-container {
    width: auto;
    margin: auto;
  }

  .package-content {
    flex-direction: column;
    text-align: center;
  }

  .package-image {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .package-text {
    max-width: 100%;
  }
}
